<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
  <mat-grid-list 
  cols="2"
  [style.background]="'#435d7d'"
  [style.color]="'#fff'"
  rowHeight="10px:1px">
    <mat-grid-tile>
      <h2>Manage <b>Students</b></h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <button mat-raised-button color="accent" (click)="firstComponentFunction()">Add new student</button> -->
    </mat-grid-tile>
  </mat-grid-list>

</div>


<!-- <div class="container"> -->
  <!-- <app-students-list></app-students-list> -->
  <!-- <app-create-student></app-create-student> -->

<!-- </div> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>